html, body{
    background: url(bilder/21244496_1861835180516992_1164446301_n.jpg);
    margin: 0;
    padding: 0;
}

header {
    background: url(bilder/39_lilla-thai.jpg);
    color: aliceblue;
    margin: 0;
    padding-bottom: 20px;
    height: 120
    ;
}

header h1 {
    color: aliceblue;
    margin: 0;
    padding-bottom: 20px;
}
p, footer {
    background: darkblue;
    color: aliceblue;
    margin: 0;
    padding-bottom: 20px;
}

main{
background: darkblue;
}

nav{
    background: gray;
    color: aliceblue;
    display: flex;
}

.container{
    border: grey dotted 1px;
}

.box{
    border: grey dotted 1px;
}

/*Texter*/

 p,h1,h2,h3{
    color: white;
    font-weight: 700;
    letter-spacing: 4px;
    padding: 15px 15px 15px 15px;
}
