html, body{
    background: darkblue;
    margin: 0;
    padding: 0;
}

header {
    background: darkblue;
    color: aliceblue;
    margin: 0;
    padding-bottom: 0px;
    height: 120;
}


nav{
    background: red;
    height: 70px;
    color: aliceblue;
    display:inline-flex;
    border: red solid 10px;
    border-radius: 40%;
    align-items: center;
}
nav ul{
    list-style: none;
    font-size: 28px;
    display: flex;
    gap: 40px;
}

main{
    background: white;
}


footer {
    background: red;
    color: aliceblue;
    margin: 0;
    padding-bottom: 20px;
}



/*Texter*/

header h2, header h3 {
    color: rgb(255, 242, 240);
    background-color: red;
    margin: 20;
    padding-bottom: 20px;
}

header h1 {
    font-size: 50px;
}

p,h1,h2,h3{
    color: white;
    font-weight: 700;
    letter-spacing: 4px;
    padding: 15px 15px 15px 15px;
}

.container{
    border: grey dotted 1px;
}

.box{
    border: grey dotted 1px;
}




